<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!--
    ネットが無い環境でも動くようにしておく 
    -->
    <style type="text/css">
    <!--
    <%= File.read("#{ROOT}/public/stylesheets/episopass.css") %>
    -->
    </style>
    <script language="JavaScript">
    exports = {};
    </script>
    <script language="JavaScript">
    <%= File.read("#{ROOT}/public/javascripts/jquery.js") %>
    </script>
    <script language="JavaScript">
    <%= File.read("#{ROOT}/public/javascripts/md5.js") %>
    </script>
    <script language="JavaScript">
    <%= File.read("#{ROOT}/public/javascripts/crypt.js") %>
    </script>
    <script language="JavaScript">
    <%= File.read("#{ROOT}/public/javascripts/FileSaver.js") %>
    </script>

    <title>EpisoPass</title>
  </head>

  <body>
    <div class="title">
      <div class="title2">
         <span class="title">
	   <a href="http://EpisoPass.com/">EpisoPass</a> - <%= @name %>
	 </span>
	 <!--
	 <input type="button" id="apk" value="Androidアプリ" style="float:right;height:35px;margin:0 3 0 3;"
		onclick="location.href='/<%= "#{@name}.apk" %>';">
	 <input type="button" id="save" value="サーバにセーブ" style="float:right;height:35px;margin:0 3 0 3;">
	 <input type="button" id="qa_json" value="ローカルファイルにセーブ" style="float:right;height:35px;margin:0 3 0 3;">
	 -->
	 <input type="button" id="apk" value="Android app" style="float:right;height:35px;margin:0 3 0 3;">
	 <!-- onclick="location.href='/<%= "#{@name}.apk" %>';"> -->
	 <input type="button" id="save" value="Save to server" style="float:right;height:35px;margin:0 3 0 3;">
	 <input type="button" id="qa_json" value="Save to file" style="float:right;height:35px;margin:0 3 0 3;">
	 <input type="button" id="das" value="DAS" style="float:right;height:35px;margin:0 3 0 3;">
      </div>
    </div>
    <p></p>
    <div style="font-size:18;">
       Seed: <input type="text" id="seed" value="<%= @seed %>" width=100 style="height:20pt;font-size:12pt;">
       ⇔
       Password: <input type="text" id="pass" width=100 style="height:20pt;font-size:12pt;">
       <!-- <input type="button" value="問題と選択枝をセーブ" id="save" style="height:26pt;font-size:14pt;"> -->
    </div>
    <p></p>

    <div id="main">
    </div>

    <script language="JavaScript">
    var json = '<%= @json %>';
    var name = '<%= @name %>';
    var seed = '<%= @seed %>';
    </script>

    <!-- <script src="javascripts/episopass.js"></script> -->

    <script language="JavaScript">
      <%= File.read("#{ROOT}/public/javascripts/episopass.js") %>
    </script>

  </body>
</html>
