<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/episopass.css" type="text/css">
    <script language="JavaScript" src='/javascripts/jquery.js'></script>
    <script language="JavaScript" src='/javascripts/md5.js'></script>
    <script language="JavaScript" src='/javascripts/crypt.js'></script>
<style type="text/css">
<!--
.floatbutton {
  background-color:#ffffff;
  margin:2;
  padding:1;
  border-width:2;
  border-style:outset;
  border-color:black;
  text-decoration:none;
  text-color:black;
  vertical-align:middle;
  width:20;
  text-align:center;
  float:left;
}
-->
</style>

  <title><%= @name %></title>
  </head>

  <body>


    <div class="title">
      <div class="title2">
         <span class="title">EpisoPass - <%= @name %></span>
      </div>
    </div>

<p>
<div style="font-size:20;">
Seed: <input type="text" id="seed" value="<%= @seed %>" width=100 style="height:24pt;font-size:14pt;">
⇔
Password: <input type="text" id="pass" width=100 style="height:24pt;font-size:14pt;">

<input type="button" value="save" id="save" style="height:28pt;width:60pt;font-size:18pt;">
</div>
<p>

  <div id="main">
  </div>

<script>
var name = '<%= @name %>';
var data = JSON.parse('<%= @json %>');
var qas = data['qas'];
var seed = data['seed'];

var answer = [];

var answerelements = [];

$('#seed').keyup(function(e){
  //if(e.keyCode == 13){
    data['seed'] = $('#seed').val();
    calcpass();
  //}
});

$('#pass').keyup(function(e){
  //if(e.keyCode == 13){
    calcseed();
  //}
});

function answerline(i,j){
  var adiv = $('<div>');
  adiv.css('border','none');
  adiv.css('borderWidth','0');
  adiv.css('padding','0');
  adiv.css('margin',0);
  var input = $('<input>');
  if(! answerelements[i]) answerelements[i] = [];
  answerelements[i][j] = input;
  input.attr('type','text');
  input.attr('autocomplete','off');
  input.attr('size','80');
  input.attr('qnumber',i);
  input.attr('anumber',j);
  input.val(qas[i]['answers'][j]);
  input.css('border','solid');
  input.css('border-width','1px');
  input.css('padding','1');
  input.css('margin','0 0 2 2');
  input.css('vertical-aign','middle');
  input.css('background-color','#ffffff');
  if(j == 0) input.css('background-color','#ccf');
  input.css('font-size','9pt');
  input.css('font-family','sans-serif');
  input.on('click',function(){
    var q = Number($(this).attr('qnumber'));
    var a = Number($(this).attr('anumber'));
    answer[q] = a;
    for(var i=0;i<qas[q]['answers'].length;i++){
      var e = answerelements[q][i];
      if(i == a){
        e.css('background-color','#ccf');
      }
      else {
        e.css('background-color','#fff');
      }
    }
    calcpass();
  });
  input.on('blur',function(){ // フォーカスがはずれたとき
    // $(this).css('background','#fff');
  });
  input.on('keyup',function(){
    var q = Number($(this).attr('qnumber'));
    var a = Number($(this).attr('anumber'));
    qas[q]['answers'][a] = $(this).val();
    calcpass();
  });
  adiv.append(input);
  return adiv;
}

function qadiv(i){
  answer[i] = 0;

  var div = $("<div>");
  div.css('background-color','#cee');
  div.css('padding','2');
  div.css('width','100%');

  var qdiv = $('<div>');
  qdiv.attr('width','100%');
  qdiv.css('width','100%');
  qdiv.css('border','none');
  qdiv.css('border-width','0');
  qdiv.css('padding','0');
  qdiv.css('margin',0);

  var qinput = $('<input>');
  qinput.attr('type','text');
  qinput.attr('autocomplete','off');
  qinput.css('width','100%');

  //qinput.attr('id','question' + String(i));
  qinput.attr('qnumber',i);
  qinput.val(qas[i]['question']);
  qinput.css('background-color','white');
  qinput.css('font-size','10pt');
  qinput.css('font-family','sans-serif');
  qinput.css('border','solid');
  qinput.css('border-width','1px');
  qinput.css('padding','2');
  qinput.css('margin','0 0 2 2');
  qinput.css('vertical-aign','middle');
  qinput.on('keyup',function(){
    var q = Number($(this).attr('qnumber'));
    var qstr = $(this).val();
    qas[q]['question'] = qstr;
    if(qstr.match(/\.(png|jpeg|jpg|gif)$/i)){
      images[q].attr('src',qstr);
    }
    calcpass();
  });

  qdiv.append(qinput);
  div.append(qdiv);

  var img = $("<img>");
  images[i] = img;
  img.attr('id',"image" + String(i));
  img.css('float','left');
  img.css('height','100');
  img.css('padding','2');

  if(qas[i]['question'].match(/\.(gif|jpeg|jpg|png)/i)){
    img.attr('src',qas[i]['question']);
  } 
  else {
    //img.attr('src',"http://farm1.static.flickr.com/54/121077554_eb0138d019.jpg");
    img.attr('src',"transparent.png");
    img.attr('width',"40");
  }

  div.append(img);

  var ansdiv = $("<div>");
  ansdiv.attr('id','ansdiv' + String(i));
  ansdiv.css('float','left');
  ansdiv.css('padding','0');
  for(var j=0;j<qas[i]['answers'].length;j++){
    ansdiv.append(answerline(i,j));
  }

  var plus = $('<span>');
  plus.text('＋');
  plus.addClass('floatbutton');
  plus.attr('qnumber',i);
  plus.click(function(event){
    var q = Number($(this).attr('qnumber'));
    var nelements = answerelements[q].length;
    var lastelement = answerelements[q][nelements-1];
    qas[q]['answers'].push('新しい回答例');
    lastelement.after(answerline(q,nelements));
  });
  ansdiv.append(plus);

  var minus = $('<span>');
  minus.text('-');
  minus.addClass('floatbutton');
  minus.attr('qnumber',i);
  minus.click(function(event){
    var q = Number($(this).attr('qnumber'));
    var nelements = answerelements[q].length;
    var lastelement = answerelements[q][nelements-1];
    qas[q]['answers'].pop();
    answerelements[q].pop();
    lastelement.remove();
  });
  ansdiv.append(minus);

  div.append(ansdiv);


  var br = $('<br>');
  br.attr('clear','all');
  div.append(br);

  return div;
}

var qadivs = [];
var images = [];
for(i=0;i<qas.length;i++){
  div = qadiv(i);
  qadivs[i] = div;
  $("#main").append(div);
}

var dummy = {
  "question":"新しい質問",
  "answers":["回答11","回答22","回答33"]
};

var plus = $('<span>');
plus.text('＋');
plus.addClass('floatbutton');
plus.click(function(event){
  var nelements = qas.length;
  var lastelement = qadivs[nelements-1];
  qas.push(dummy);
  lastelement.after(qadiv(nelements));
  calcpass();
});
$("#main").append(plus);

var minus = $('<span>');
minus.text('-');
minus.addClass('floatbutton');
minus.click(function(event){
  var nelements = qas.length;
  var lastelement = qadivs[nelements-1];
  qas.pop();
  lastelement.remove();
  calcpass();
});
$("#main").append(minus);

function secretstr(){
  var secret = "";
  for(var i=0;i<qas.length;i++){
    secret += qas[i]['question'];
    secret += qas[i]['answers'][answer[i]];
  }
  return secret;
}

function calcpass(){
  var newpass = crypt($('#seed').val(),secretstr());
  $('#pass').val(newpass);
}

function calcseed(){
  var newseed = crypt($('#pass').val(),secretstr());
  $('#seed').val(newseed);
  data['seed'] = newseed;
}


$("#save").click(function(){
  //alert(JSON.stringify(data));
  $.ajax({
    type: "POST",
    async: true,
    url: "/" + name + "/__write",
    data: "data=" + JSON.stringify(data)
  });
});

$('#seed').val(seed);
calcpass();

</script>

  </body>
</html>
